<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/3bcdff561f.js" crossorigin="anonymous"></script>
    <title>{{ .Site.Title }}</title>
       
     <div class="bg-cover bg-center h-96 w-192" style="background-image: url({{ $.Site.Params.img }})">
        <H1 class="text-center text-white">coucou mon petit</H1>
     </div>

</head>